# How to Activate Azure from your voucher

1. Go to [Azure for Students](https://azure.microsoft.com/en-us/free/students/)
2. 