# How to Activate Azure from your voucher
Show some ❤️: ⭐ this Repository and follow [hrittikhere](https://github.com/hrittikhere)


1. Go to [Azure for Students](https://azure.microsoft.com/en-us/free/students/)
2. Now go and click on “Activate Now” button where you’ll get a prompt to sign in.

![Activate Now](azure_verification/Azure1.png "Activate Now")

3. Enter your details and you’ll see a page like this:

![Enter Details](azure_verification/Azure2.png "Enter Details")

4. Click on the dropdown icon and select Verification code. Copy your verification code and paste it here.

![Enter Code](azure_verification/Azure3.png "Enter Code")

5. Welcome to [Azure Portal!](https://portal.azure.com/) ⭐


